*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root{

--green : #87a243;
--light-green: #e0ffcd;
--box-shadow: 0 0 10px rgba(0 0 0/15%);
}
html{
font-size: 16px;
-ms-overflow-style: scrollbar;
-webkkit-tap-highlight-color: transparent;
font-family: sans-serif;
--ms-text-size-adjust:100%;
-webkkit-text-size-djust:100%;
}

body{
background-image: url('img/body-bg.jpg');
width: 100%;





}















